<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DataProvider" value="Bilten.Data.NHibernate"/>
    <add key="DataProviderFactory" value="Bilten.Data.NHibernate.DataProviderFactory"/>
    <add key="ItemsPerPage" value="20000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
