<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataProvider" value="Bilten.Data.NHibernate"/>
    <add key="DataProviderFactory" value="Bilten.Data.NHibernate.DataProviderFactory"/>
    <add key="ItemsPerPage" value="20000" />
  </appSettings>
</configuration>
